<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <title>Flint</title>
</head>

<style>
    body {
        margin: 0;
    }
    button:focus {
        outline: 0 !important;
    }
    div[tabindex="-1"]:focus {
        outline: 0 !important;
    }
    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
</style>

<body>

<div id="rootContainer"></div>
<script src="./react.js"></script>
<script src="./react-dom.js"></script>
<script src="../starter.js"></script>

</body>

</html>
